# Core Flask dependencies
Flask
flask-cors

# Groq API client
groq

# Environment variable management
python-dotenv

# Plotting library for image handling
matplotlib

# Pinecone and LangChain dependencies for vector store and embeddings
pinecone-client
langchain-pinecone
langchain-core
langchain
huggingface_hub
sentence-transformers
gunicorn
# YOLOv10 for image prediction
ultralytics

# OpenAI SDK for GPT-4o-mini
openai
